*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color:white;
  font-family: "Poppins",sans-serif;
}

.navigation{
  position: absolute;
  top:0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  z-index: 10;
}

.logo{
  height:100%;
  width: 125px;
}

.nav_items{
  display:flex;
  gap: 20px;
}

.netflix_logo{
  width:100%;
  height:100%;
}

.lang_dropdown{
  background: transparent;
  border:none;
  color:white;
}

.dropdown{
  border:1px solid white;
  padding: 0.4rem;
  border-radius: 4px;
  background:rgba(0,0,0,0.4);
}

.sign_in{
  border:#dc030f;
  background-color: #dc030f;
  color:white;
  padding:0.25rem 0.5rem;
  border-radius:4px;
  height:35px;
  width:90px;
  
}

.hero_bg_img_cont{
  width:100%;
  height:100%;
  object-fit: cover;
}

.hero_bg_over{
  position:absolute;
  inset: 0;
  width:100%;
  height: 100%;
  background:rgba(0,0,0,0.6) ;
}

.hero_card{
  position: absolute;
  top:40%;
  left:17%;
  text-align: center;
  display:flex;
  flex-direction: column;
  gap:15px;
}

.hero_text{
  font-weight: 600;
  font-size:3rem;
}

.subtitle,hero_dis{
  font-weight: 400;
  font-size:1.3rem ;
  font-size: 20px;
  
}

.email_address{
  width:400px;
  height:60px;
  color: grey;
  background-color: rgba(0,0,0,0.4);
  border-color: grey;
  border:solid;
  border-width: 1px;
  border-radius: 5px;
}

.get_started{
  width:200px;
  height:60px;
  background-color:rgb(229, 9, 20);
  color:rgb(255,255,255);
  border-radius:5px;
  font-weight: bold;
  font-size: 25px;
  border-color: rgb(229, 9, 20);
}

.card-1,
.card-2,
.card-3,
.card-4
{
  padding: 50px  ;
  border-top:  8px  #504e4e solid;

}
body{
  border-style: none;
}

.card-1{
  position: relative;
  display:inline-grid;
  grid-template-columns: 50% 40%;
  text-align: left;
  align-items: center;
  padding:25px 45px 50px;
  gap:90px
  
}

.desc-1{
  padding-left: 80px;
}

.cards h1{
  font-size: 50px;
  font-weight: bold 500;
  padding-bottom: 1rem;

}
.cards h3{
  font-size: 30px;
  font-weight: lighter;
  line-height: 2rem;
}

.card-1 video{
  position: relative;
  width:100%;
  height:100%;
  grid-column: 2/2;
  grid-row:1/2;
  z-index:0;
}

.card-1 img{
  grid-column: 2/2;
  grid-row:1/2;
  z-index:1;
}

.card-2{
  position: relative;
  display: inline-grid;
  grid-template-columns: 40% 50%;
  text-align: left;
  align-items: center;
  padding:25px 45px 50px ; 
  gap:110px;
}

.card-3{
  position:relative;
  display: inline-grid;
  grid-template-columns: 50% 40%;
  text-align:left;
  align-items: center;
  padding:25px 45px 50px;
  gap:90px
}

.desc-3{
  padding-left: 80px;
}

.card-3 video{
  position: relative;
  height:78%;
  width:65%;
  grid-column: 2/2;
  grid-row: 1/2;
  z-index:-1;
  top:-87px;
  left:125px
}

.card-3 img{
  width:110%;
  grid-column:2/2;
  grid-row: 1/2;
}

.card-4{
  position:relative;
  display: inline-grid;
  grid-template-columns: 40% 50%;
  text-align:left;
  align-items: center;
  padding:25px 50px 50px 90px ;
  gap:90px;
  
}

.footer,
.footer a{
  color:#999;
  font-size: 0.9 rem;
  padding-bottom: 100px;
}

.footer p{
  margin-bottom: 1.5rem;
  padding-left: 90px;
  padding-right: 90px;
}

.footer .footer-cols{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:2rem;
  padding-left: 90px;
  padding-right: 90px;
}

.footer li{
  line-height:1.9;
  list-style: none;
}

.footer-drop{
  border:1px solid white;
  padding: 0.4rem;
  border-radius: 4px;
  background:rgba(0,0,0,0.4);
  color:white;
  width:110px;
  align-items: center;
}

.footer-dropdown{
  background: transparent;
  border:none;
  
  padding-left:90px;
  padding-right:90px;
}